<h3>Fav Songs</h3>

{{#if songs}}
  <div class="well well-small">
    <a href="#music-player" role="button" class="btn btn-primary load-songs group-actions line-actions">Play</a>
    <div class="song-container">
  {{#each songs}}
      
      <div class="song">
        <div class="song-actions group-actions line-actions">
          <a href="#music-player" role="button" class="btn btn-primary load-like-song" data-song-id="{{this.id}}">Play</a>
          <button type="button" class="btn btn-success destroy-like" data-song-id="{{this.id}}">Unlike</button>
        </div>
        <strong>{{this.name}}</strong> by {{this.band}}
      </div>

  {{/each}}
    </div>
  </div>
{{else}}
<div class="well well-small">
  No favorites yet? That's cool, I guess.
</div>
{{/if}}