<h3>Favorite Songs</h3>

{{#if songs}}
  <div class="well well-small">
    <button type="button" class="btn btn-primary load-songs">Play</button>
    <div class="song-container">
  {{#each songs}}
      
      <div class="song">
        <button type="button" class="destroy-like btn btn-success" data-song-id="{{this.id}}">Unlike</button>
        <strong>{{this.name}}</strong> by {{this.band}}
      </div>

  {{/each}}
    </div>
  </div>
{{else}}
<div class="well well-small">
  No favorites yet? That's cool, I guess.
</div>
{{/if}}