<h3>{{band.info.name}}</h3>
<div class="well well-small content-wrapper">
  <span class="band-actions group-actions line-actions">
    <a href="#music-player"role="button" class="btn btn-primary load-band-playlist">Play</a>
    <a href="#bands" role="button" class="btn btn-inverse bands-index">All Bands</a>
  </span>
  <div class="floating-images">
  </div>
  <br>
  <strong>Playing on:</strong> {{band.info.set_time}}
  <br>
   {{#each band.songs}}
    <div class="song" data-band-id="{{this.band_id}} data-song-id={{this.id}}">
      
    <div id="song-{{this.id}}" class="feelings group-actions line-actions">
      <div class="like btn btn-success" data-song-id="{{this.id}}" data-like-status="{{this.like}}">
        Like
      </div>
      <div class="dislike btn btn-danger" data-song-id="{{this.id}}" data-dislike-status="{{this.dislike}}">
        Hate
      </div>
    </div>

    {{this.name}}
    </div>
  {{/each}}
</div>