/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 */
 @import 'bootstrap-styles';
 @import 'bootstrap';
 @import 'bootstrap-responsive';

/* general styles */

 body {
  font-family: "soleil", "Ariel", sans-serif;
  font-size: 1em;
  background-color: $bodyColor;
  color: black;
 }

 h1, h2 {
  text-align: center;
 }

 h3 {
  display: inline-block;
  line-height: 1;
  font-size: 2em;
 }

 .modal-header {
  text-align: center;
  border-bottom: 1px solid #e1b39f;
 }

 .discovery {
  text-align: right;
 }

 .container {
  width: 95%;
  margin: auto;
 }

 .song {
  margin: 15px;
  border-top: 1px solid #e1b39f;
  border-bottom: 1px solid #e1b39f;
  padding: 15px;
 }

 .body-content {
  position: absolute;
  top: 400px;
  width: 95%;
  margin: auto;
 }

 div.error {
  display: none;
 }

.group-actions {
  float: left;
  position: relative;
  margin-right: 10px;
  bottom: 25px;
  right: 5px;
 }

 .line-actions {
  bottom: 5px;
 }

 .floating-images {
  background-repeat: repeat-x;
  background-size: 100px;
  height: 100px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 5px;
  padding: 0;
  opacity: 0.5;
 }

 .content-wrapper {
  margin-bottom: 0;
  height: 100%;
 }

 div.well {
  border-radius: 0;
 }

 div#registration {
  background-color: $wellBackground;
 }

 .body-content div.well {
  -moz-box-shadow: 0 0 10px #d39878;
  -webkit-box-shadow: 0 0 10px #d39878;
  box-shadow: 0 0 10px #d39878;
 }

 #loading {
  position: absolute;
  top: 50%;
  left: 50%;
 }

 .welcome-link {
  margin-top: 15px;
 }

/* devise pages */

.devise-form {
  text-align: center;
}

/* nav styles */

 #content-nav {
  position: fixed;
  top: 350px;
  left: 0;
  width: 100%;
  z-index: 2;
 }

 #navigation div.navbar-inner {
  border-radius: 0;
 }

 .log-out {
  color: white;

  &:hover {
    text-decoration: none;
    color: black;
  }
 }

 #on-deck #registration a {
  color: $myGreen;
 }

 #on-deck p {
  margin-top: 10px;
 }

 /* music player styles */

 #music-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 350px;
  background-image: url("coachella.jpg");
  background-position: 20% 50%;
  background-size: 1200px;
 }

 #music-player {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 330px;
  width: 65%;
  background: white;
  opacity: 0.6;
  padding: 0;
 }

 #cue-playlist {
  position: absolute;
  top: 20%;
  left: 58%;
  border: 5px solid white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: $myRed;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;
 }

 #on-deck {
  position: fixed;
  width: 35%;
  height: 350px;
  text-align: center;
  border-radius: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
 }

 #on-deck img {
  width: 150px;
  border: 1px solid #e1b39f;
 }

 #on-deck-content {
  padding: 10px;
  background-color: $wellBackground;
  margin: 10px;
  height: 310px;
 }

 .countdown {
  font-size: 2em;
  margin: 5px;
  line-height: 1;
  font-style: bold;
  color: $myBlue
 }

 .countdown-one {
  margin-bottom: 20px;
 }

 .ticker {
  margin-top: 45px;
 }

 .song-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .cue-playlist {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 80px solid white;
  margin-top: 33%;
  margin-left: 38%;
 }

 #cue-playlist:hover {
  cursor: pointer;
  background-color: $myGreen;
 }

 .feelings {
  margin-top: 5px;
 }

/* playlist specific style */


 #playlist-creator {
  position: fixed;
  display: inline-block;
  margin-right: 10px;
 }

  #playlists-new {
    display: none;
  }

 .playlist-songs {
  padding-top: 30px;
 }

 .playlists-create {
  margin-top: 20px;
 }

/* band view styles */

#band img {
  display: block;
  margin: auto;
  border: 1px solid #e1b39f;
}

div.song > div.feelings {
  bottom: 10px;
}

/* song view styles */

.song-container {
  margin-top: 35px;
}

@media (max-device-width: 780px) {

  .container {
    width: 100%;
  }

  #cue-playlist {
    left: 35%;
  }

  #music-container {
    position: absolute;
    height: 320px;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  #music-player {
    position: absolute;
    height: 320px;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #music-container div.span4 {
    display: none;
    width: 0;
  }

  #playlists-new {
    clear: both;
    display: inline-block;
    position: relative;
    top: 40px;
  }

  #playlist-creator.showing {
    display: block;
  }

  #content-nav {
    position: absolute;
    top: 320px;
  }

  .body-content div.span8 {
    padding-right: 15px;
    width: 100%;
  }

  .body-content {
    position: absolute;
    top: 340px;
  }

  #playlist-container {
    display: block;
    margin: auto;
    width: 100%;
    margin-right: 15px;
  }

  #playlist-creator {
    position: static;
    text-align: right;
    display: none;
  }

  #playlists-new {
    clear: both;
    display: inline-block;
    position: relative;
    top: 40px;
  }


}

@media (max-width: 765px) {

  /* modal */

  .modal {
    position: fixed;
    top: 3%;
    right: 3%;
    left: 3%;
    width: auto;
    margin: 0;
  }

  .modal-body {
    height: 60%;
  }

  .modal-body {
    max-height: 350px;
    padding: 15px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  /* music player section */

  #music-container {
    position: absolute;
    height: 200px;
    width: 100%;
  }

  #music-container div.span4 {
    display: none;
    width: 0;
  }

  #music-container div.span8 {
    width: 98%;
  }

  #music-player {
    position: absolute;
    height: 200px;
    margin-right: 0;
    width: 100%;
    top: 0;
    right: 0;
  }

  .cue-playlist {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid white;
    margin-top: 27%;
    margin-left: 34%;
  }

  #cue-playlist {
    height: 100px;
    width: 100px;
    left: 35%;
    top: 24%;
  }

  /* content discovery section */

  #content-nav {
    position: absolute;
    top: 200px;
  }

  .container {
    width: 100%;
  }

  .body-content div.span8 {
    padding-right: 15px;
  }

  .body-content {
    position: absolute;
    top: 225px;
  }

  .log-out {
    top: 0;
  }

  #playlist-container {
    display: block;
    margin: auto;
  }

  #playlist-creator {
    position: static;
    text-align: right;
    display: none;
  }

  #playlists-new {
    clear: both;
    display: inline-block;
    position: relative;
    top: 40px;
  }

  #playlist-creator.showing {
    display: block;
  }

  .playlist-error {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
   }

   #playlist-creator form {
    text-align: center;
   }

}

