/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 */
 @import 'bootstrap-styles';
 @import 'bootstrap';

 /* general styles */

 h1, h2 {
  text-align: center;
 }

 .discovery {
  text-align: right;
 }

 .container {
  width: 95%;
  margin: auto;
 }

 .song {
  margin: 15px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 15px;
 }

 .body {
  position: absolute;
  top: 400px;
  width: 95%;
  margin: auto;
 }

/* devise pages */

.devise-form {
  text-align: center;
}

/* nav styles */

 #content-nav {
  position: fixed;
  top: 350px;
  left: 0;
  width: 100%;
  z-index: 2;
 }

 .log-out {
  float: right;
  position: relative;
  top: 10px;
 }

 /* music player styles */

 #music-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background-color: black;
  height: 350px;
 }

 #music-player {
  height: 100%;
  width: 100%;
  background: black;
 }

 #cue-playlist {
  position: relative;
  top: 20%;
  left: 30%;
  border: 5px solid white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
 }

 #on-deck {
  height: 310px;
  text-align: center;
  border-radius: 0;
 }

 #on-deck img {
  width: 150px;
  border: 1px solid #CCC;
 }

 .song-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .cue-playlist {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 80px solid white;
  margin-top: 33%;
  margin-left: 38%;
 }

 #cue-playlist:hover {
  cursor: pointer;
  background-color: #ae374a;
 }

 .feelings {
  margin-top: 5px;
 }

/* playlist specific style */

 #playlist-creator {
  margin-right: 10px;
 }

 .playlist-index-actions {
  float: left;
  position: relative;
  margin-right: 10px;
  bottom: 5px;
  right: 5px;
 }

.playlist-show-actions {
  display: inline-block;
  float: left;
  position: relative;
  bottom: 25px;
  right: 5px;
 }

 .playlist-song-delete {
  float: left;
  margin-right: 10px;
  position: relative;
  bottom: 5px;
  right: 5px;
 }

 .playlist-songs {
  padding-top: 30px;
 }

 .playlists-create {
  margin-top: 20px;
 }

/* band view styles */

#band img {
  display: block;
  margin: auto;
  border: 1px solid #CCC;
}

.band-search {
  float: left;
  position: relative;
  bottom: 30px;
}

.band-actions {
  float: left;
  position: relative;
  margin-right: 10px;
  bottom: 5px;
  right: 5px;
}

/* song view styles */

.song-container {
  margin-top: 35px;
}

.destroy-dislike {
  float: left;
  margin-right: 10px;
  position: relative;
  bottom: 5px;
  right: 5px;
}

.destroy-like {
  float: left;
  margin-right: 10px;
  position: relative;
  bottom: 5px;
  right: 5px;
}

.load-songs {
  float: left;
  position: relative;
  bottom: 5px;
  right: 5px;
}

@media (max-device-width: 768px) {

  #music-container {
    margin: auto;
    width: 100%;
  }

  #music-container div.span4 {
    display: none;
    width: 0;
  }

  #music-container div.span8 {
    width: 100%;
  }
}

@media (max-width: 640px) {

  /* music player section */

  #music-container {
    position: absolute;
    height: 200px;
    width: 100%;
  }

  #music-container div.span4 {
    display: none;
    width: 0;
  }

  #music-container div.span8 {
    width: 98%;
  }

  #music-player {
    margin-right: 0;
  }

  .cue-playlist {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid white;
    margin-top: 25%;
    margin-left: 32%;
  }

  #cue-playlist {
    height: 100px;
    width: 100px;
    left: 33%;
    top: 24%;
  }

  /* content discovery section */

  #content-nav {
    position: absolute;
    top: 200px;
  }

  .body div.span8 {
    width: 98%;
  }

  .body {
    position: absolute;
    top: 300px;
  }

  .log-out {
    top: 0;
  }

  #playlist-container {
    display: block;
    width: 98%;
    text-align: center;
  }

}

