<h2>Playlist Generator</h2>
<form id="playlists-form">
  <fieldset>
    <label for="playlist[name]">Playlist Name</label>
    <input name="playlist[name]" type="text">
    <label for="playlist[day]">Filter by Day</label>
    <select name="playlist[day]">
      <option value="Fri">Friday</option>
      <option value="Sat">Saturday</option>
      <option value="Sun">Sunday</option>
    </select>
  </fieldset>
  <button type="button" class="btn btn-primary playlists-create">Create Playlist</button>
</form>