<h3>Playlists</h3>
{{#if playlists}}
  {{#each playlists}}

    <div class="well well-small">
      <span class="playlist-index-actions">
        <button type="button" class="btn btn-primary load-playlist" data-playlist-id="{{this.playlist.id}}">Play</button>
        <button type="button" class="btn btn-inverse playlists-show" data-playlist-id="{{this.playlist.id}}">Details</button>
      </span>
      <strong>{{this.playlist.name}}</strong>: {{this.songs.length}} songs
    </div>

  {{/each}}
{{else}}
  <div class="well well-small">
    Create some playlists! Or, whatever. Do what you want.
  </div>
{{/if}}