<h2>Playlists</h2>
{{#each playlists}}
<div class="row">
  <div class="span6">
    <div class="well well-small">
      <strong>{{this.playlist.name}}</strong>: {{this.songs.length}} songs
      <button type="button" class="btn btn-inverse playlists-show" data-playlist-id="{{this.playlist.id}}">Details</button>
      <button type="button" class="btn btn-primary load-playlist" data-playlist-id="{{this.playlist.id}}">Play</button>
    </div>
  </div>
</div>
{{/each}}
<div class="row">
  <button type="button" class="btn btn-inverse playlists-new">Create Playlist</button>
</div>