<h2>{{playlist.playlist.name}}</h2>
<div class="row">
  <button type="button" class="btn btn-inverse playlists-new">Create Playlist</button>
  <button type="button" class="btn btn-primary load-playlist" data-playlist-id="{{playlist.playlist.id}}">Play</button>
  <button type="button" class="btn btn-danger playlists-delete" data-playlist-id="{{playlist.playlist.id}}">Delete</button>
  <button type="button" class="btn btn-inverse playlists-index">All Playlists</button>
</div>
{{#each playlist.songs}}
<div class="row">
  <div class="span6">
    <div class="well well-small">
      <strong>{{this.band}}</strong>: {{this.name}}
    </div>
  </div>
</div>
{{/each}}