<h3>{{playlist.playlist.name}}</h3>

<div class="well well-small playlist-songs" data-playlist-id="{{playlist.playlist.id}}">
  <span class="playlist-show-actions">
    <button type="button" class="btn btn-inverse playlists-index">All Playlists</button>
    <button type="button" class="btn btn-primary load-playlist" data-playlist-id="{{playlist.playlist.id}}">Play</button>
    <button type="button" class="btn btn-danger playlists-delete" data-playlist-id="{{playlist.playlist.id}}">Delete Playlist</button>
  </span>
{{#if playlist.songs}}

  {{#each playlist.songs}}
    <div class="song">
      <button type="button" class="btn btn-danger playlist-song-delete" data-song-id="{{this.id}}">Delete</button>
      <strong>{{this.band}}</strong>: {{this.name}}
    </div>
  {{/each}}
{{else}}
  <div class="song">
    Looks like you deleted everything... Maybe you should just delete the playlist.
  </div>
{{/if}}
</div>