<!DOCTYPE html>
<html>
<head>
  <title>Coachella</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>Coachella Warm Up</h1>
    <div class="row">
      <div class="span8">
        <div id="music-player">
          <div id="cue-playlist">
            <div class="cue-playlist-text">
              >
            </div>
          </div>
        </div>
      </div>
      <div class="span4">
        <h3>On Deck</h3>
        <div id="current-playlist">
        </div>
      </div>
    </div>
    <div id="now-playing" class="row">
    </div>
    <hr>

    <%= yield %>

  </div>
</body>
</html>
