<!DOCTYPE html>
<html>
<head>
  <title>Coachella</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>Coachella Warm Up</h1>
    <div class="row">
      <div id="music-container" class="span7">
        <div id="music-player">
          <div id="cue-playlist">
            <div class="cue-playlist">
            </div>
          </div>
        </div>
      </div>
      <div class="span5">
        <div id="current-playlist">
        </div>
      </div>
    </div>
    <div id="now-playing" class="row">
    </div>
    <hr>

    <div class="row">
      <div class="span6">
        <div id="discovery">
        </div>
      </div>
      <div class="span6">
        <div id="playlist-creator">
        </div>
      </div>
    </div>

  </div>

  <!-- HANDLEBARS SCRIPTS -->

  <script id="playlists-create" type="text/x-handlebars-template">
  <h2>Playlist Generator</h2>
  <div class="row">
    <div class="span6">
      <form id="playlists-form">
        <fieldset>
          <label for="playlist[name]">Playlist Name</label>
          <input name="playlist[name]" type="text">
          <label for="playlist[day]">Filter by Day</label>
          <select name="playlist[day]">
            <option value="Fri">Friday</option>
            <option value="Sat">Saturday</option>
            <option value="Sun">Sunday</option>
          </select>
        </fieldset>
        <button type="button" class="btn btn-primary playlists-create">Create Playlist</button>
      </form>
    </div>
  </div>
    <div class="row">
      <button type="button" class="btn btn-inverse playlists-index">All Playlist</button>
    </div>
  </script>

  <div id="playlists-index" type="text/x-handlebars-template">
    <h2>Playlists</h2>
    {{#each playlists}}
    <div class="row">
      <div class="span6">
        <div class="well well-small load-playlist" data-playlist-id="{{this.playlist.id}}">
          <strong>{{this.playlist.name}}</strong>: {{this.songs.length}} songs
        </div>
      </div>
    </div>
    {{/each}}
    <div class="row">
      <button type="button" class="btn btn-inverse playlists-new">Create Playlist</button>
    </div>
  </div>

  <script id="bands-index" type="text/x-handlebars-template">
    <h2>All Bands</h2>
    {{#each bands}}
    <div class="row">
      <div class="span6">
        <div class="well well-small bands-show" data-band-id="{{this.id}}">
          <h4>{{this.name}}</h4>
        </div>
      </div>
    </div>
    {{/each}}
  </script>

  <script id="bands-show" type="text/x-handlebars-template">
    <h2>{{band.info.name}}</h2>
    <div class="row">
      <div class="span6">
        <img class="thumbnail" src="{{band.info.thumbnail}}">
        <br>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <strong>YouTube Tracks</strong>
        <ol>
           {{#each band.songs}}
            <li class="queue-song" data-band-id="{{this.band_id}} data-song-id={{this.id}}">{{this.name}}
          {{/each}}
        </ol>
      </div>
      <button type="button" class="btn btn-inverse bands-index">All Bands</button>
    </div>
  </script>
</body>
</html>
