<!DOCTYPE html>
<html>
<head>
  <title>Coachella</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>Coachella Warm Up</h1>
    <div class="row">
      <div class="span7">
        <div id="music-player">
          <div id="cue-playlist">
            <div class="cue-playlist">
            </div>
          </div>
        </div>
      </div>
      <div class="span5">
        <div id="current-playlist">
        </div>
      </div>
    </div>
    <div id="now-playing" class="row">
    </div>
    <hr>

    <div id="yield">
    </div>

  </div>

  <!-- HANDLEBARS SCRIPTS -->

  <script id="playlists-create" type="text/x-handlebars-template">
    <form id="playlist-form">
      <fieldset>
        <legend>Explore</legend>
        <label for="band[day]">Filter by Day</label>
        <select name="band[day]">
          <option value="Fri">Friday</option>
          <option value="Sat">Saturday</option>
          <option value="Sun">Sunday</option>
        </select>
      </fieldset>
      <button type="button" class="btn btn-primary playlists-create">Create Playlist</button>
    </form>
  </script>

  <script id="bands-index" type="text/x-handlebars-template">
    <h2>All Bands</h2>
    <div class="row">
    {{#each bands}}
      <div class="span4">
        <div class="well">
          <h4>{{this.name}}</h4>
          <img src="{{this.thumbnail}}">
          <br>
          <button type="button" class="btn btn-primary band-show" data-band-id="{{this.id}}">Show Details</button>
        </div>
      </div>
    {{/each}}
    </div>
  </script>

  <script id="band-show" type="text/x-handlebars-template">
    <h2>{{band.info.name}}</h2>
    <div class="row">
      <div class="span4">
        <img src="{{band.info.thumbnail}}">
        <br>
        <button type="button" class="btn btn-primary band-index" data-band-id="{{this.id}}">All Bands</button>
      </div>
      <div class="span8">
        <strong>YouTube Tracks</strong>
        <ol>
           {{#each band.songs}}
            <li class="queue-song" data-band-id="{{this.band_id}} data-song-id={{this.id}}">{{this.name}}
          {{/each}}
        </ol>
      </div>
    </div>
  </script>
</body>
</html>
